
.promo {
    min-height: 650px;
    padding: 21px 0 93px;
    background: url("../img/bg/bg.png") center center/cover no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        line-height: 42px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__subheader {
        margin-top: 17px;
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        width: 424px;
    }
    &__icon {
        width: 136px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        img {
            display: block;
            margin: 0 auto 20px;
        }
    }
    &__link {
        margin-top: 8px;
        font-weight: 500;
        line-height: 25px;
        color: #FFFFFF;
        font-size: 16px;
        a {
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}

 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        width: 250px;
        img {
            width: 100%;
        }
    }
    &__official {
        font-weight: 500;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__phone {
        display: block;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        &:hover {
            color: #fff;    
        }
    }
 }
 
 .improve {
    padding: 73px 0 67px;
    text-align: center;
    &__title {
        font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: #0D0D0D;
    }
    .row {
        margin-top: 60px;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }
    &__desc {
        max-width: 277px;
        margin: 20px auto 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;
        span {
            color: #ff0000;
        }
    }
 }

 .order {
    padding: 100px 0 108px;
    background: url('../img/bg/bg2.png') center center/cover no-repeat;
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: left
    }
    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        text-align: left
    }
    label.error {
        color: #fff;
        text-align: center;
        margin-bottom: 10px;
    }
 }

 .carousel {
    padding: 81px 0;
    .container {
        position: relative;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .prev {
        position: absolute;
        left: -66px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border: none;
        background: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .next {
        position: absolute;
        right: -66px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        border: none;
        background: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
 }

 .catalog {
    padding-bottom: 100px;
    &__title {
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
    }
    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
        padding-left: 0;
    }
    &__tab {
        cursor: pointer;
        width: 222px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        height: 50px;
        font-weight: 400;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #6B6B6B;
        font-size: 18px;
        transform: skewX(-25deg);
        margin: 0 5px;
        transition: 0.5s all;
        &:hover {
            box-shadow: 3px 3px 20px #C70101;
            border: none;
        }
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background:  #C70101;
            border: none;
        }
    }
    &__content {
        margin-top: 60px;
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }
    &-item {
        overflow: hidden;
        padding: 20px;
        width: 300px;
        min-height: 440px;
        background: #FFFFFF;
        border: 2px solid #E8E8E8;
        margin-bottom: 20px;
        &__img {
            max-width: 100%;
            height: 200px;
            display: block;
            margin: 0 auto;
        }
        &__subtitle {
            margin-top: 15px;
            font-weight: 700;
            font-size: 16px;
            color: #0D0D0D;
            text-align: center;
        }
        &__desc {
            margin-top: 15px;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
            color: #0D0D0D;
        }
        &__link {
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            color: #C70101;
            text-decoration-line: underline;
        }
        hr {
            background: #E8E8E8;
            margin: 17px 0;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: line-through;
            color: #555555;
        }
        &__price {
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            color: #050505;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 49%;
            margin-right: 0;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        
        &__list {
            position: relative;
            width: 51%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;
            padding-left: 19px;
            margin-bottom: 0;
            list-style-type: none;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }
            div {
                position: relative;
                font-weight: 300;
                font-size: 14px;
                margin-bottom: 20px;
                color: #555555;
                &::before {
                    content: "";
                    position: absolute;
                    width:5px;
                    height: 5px;
                    background: #C70101;
                    left: -14px;
                    top: 8px;
                }
            }
        }
        &__back {
            position: absolute;
            left: calc(50% - 33px);
            bottom: 0;
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: underline;
            color: #C70101;
            text-transform: uppercase;
            &:hover {
                color: #C70101;
            }
        }
    }
 }

.review {
    padding: 79px 0 48px;
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 60px;
    }
    &__content {
        display: flex;

        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__img {
        width: 169px;
        height: 169px;
        img {
            height: 100%;
        }
    }
    &__block {
        max-width: 680px;
        margin-left:60px;
    }
    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #646464;
        margin-bottom: 10px;
    }
    &__desc {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #0D0D0D;
    }
}

 .footer {
    height: 630px;
    position: relative;
    &__info {
        padding: 50px 69px 60px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: #C70101;
    }
    &__address {
        margin-bottom: 36px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
    }
    &__phone {
        display: block;
        margin-bottom: 38px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        font-size: 20px;
    }
    &__social{
        display: flex;
        align-items:center;
        justify-content: center;
        &-item {
            margin: 0 15px;
        }
    }
    iframe {
        width: 100%;
        height: 630px;
        border: none;
    }
}
